body {
    background-color: #111111;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding-top: 200px;
}

h1 {
    font-size: 80px;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    opacity: 0.8;
}
